MobilePhoneWeb/MobileDesktop/Service References/ServiceNhaSanXuat/ServiceNhaSanXuat.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:3015/ServiceNhaSanXuat.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WcfMobile" />
  <xs:element name="SelectNhaSanXuat">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectNhaSanXuatResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WcfMobile" minOccurs="0" name="SelectNhaSanXuatResult" nillable="true" type="q1:ArrayOfNhaSanXuat" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertNhaSanXuat">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/WcfMobile" minOccurs="0" name="info" nillable="true" type="q2:NhaSanXuat" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertNhaSanXuatResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InsertNhaSanXuatResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateNhaSanXuat">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/WcfMobile" minOccurs="0" name="info" nillable="true" type="q3:NhaSanXuat" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateNhaSanXuatResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateNhaSanXuatResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteNhaSanXuat">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/WcfMobile" minOccurs="0" name="info" nillable="true" type="q4:NhaSanXuat" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteNhaSanXuatResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteNhaSanXuatResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectNhaSanXuatById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectNhaSanXuatByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/WcfMobile" minOccurs="0" name="SelectNhaSanXuatByIdResult" nillable="true" type="q5:ArrayOfNhaSanXuat" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>