MobilePhoneWeb/MobileDesktop/Service References/ServicePhieuNhap/ServicePhieuNhap.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:3015/ServicePhieuNhap.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WcfMobile" />
  <xs:element name="SelectPhieuNhap">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectPhieuNhapResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WcfMobile" minOccurs="0" name="SelectPhieuNhapResult" nillable="true" type="q1:ArrayOfPhieuNhap" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertPhieuNhap">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/WcfMobile" minOccurs="0" name="info" nillable="true" type="q2:PhieuNhap" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertPhieuNhapResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InsertPhieuNhapResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdatePhieuNhap">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/WcfMobile" minOccurs="0" name="info" nillable="true" type="q3:PhieuNhap" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdatePhieuNhapResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdatePhieuNhapResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeletePhieuNhap">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/WcfMobile" minOccurs="0" name="info" nillable="true" type="q4:PhieuNhap" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeletePhieuNhapResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeletePhieuNhapResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectCTPN">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectCTPNResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/WcfMobile" minOccurs="0" name="SelectCTPNResult" nillable="true" type="q5:ArrayOfCT_PhieuNhap" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectCTPN_ByMaPN">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ma" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectCTPN_ByMaPNResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/WcfMobile" minOccurs="0" name="SelectCTPN_ByMaPNResult" nillable="true" type="q6:ArrayOfPhieuNhap_SanPham" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertCTPN">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/WcfMobile" minOccurs="0" name="info" nillable="true" type="q7:CT_PhieuNhap" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertCTPNResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InsertCTPNResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateCTPN">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/WcfMobile" minOccurs="0" name="info" nillable="true" type="q8:CT_PhieuNhap" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateCTPNResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateCTPNResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteCTPN">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="mapn" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteCTPNResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteCTPNResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNewIDPhieuNhap">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNewIDPhieuNhapResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetNewIDPhieuNhapResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateSoLuongSanPham">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="masp" type="xs:int" />
        <xs:element minOccurs="0" name="soluong" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateSoLuongSanPhamResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateSoLuongSanPhamResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ThongkeSPNhapThang">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="thang" type="xs:int" />
        <xs:element minOccurs="0" name="nam" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ThongkeSPNhapThangResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/WcfMobile" minOccurs="0" name="ThongkeSPNhapThangResult" nillable="true" type="q9:ArrayOfThongkePN" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>