MobilePhoneWeb/MobileDesktop/Service References/ServiceKhachHang/ServiceKhachHang.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ServiceKhachHang" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:3015/ServiceKhachHang.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:3015/ServiceKhachHang.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:3015/ServiceKhachHang.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WcfMobile" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IServiceKhachHang_SelectKhachHang_InputMessage">
    <wsdl:part name="parameters" element="tns:SelectKhachHang" />
  </wsdl:message>
  <wsdl:message name="IServiceKhachHang_SelectKhachHang_OutputMessage">
    <wsdl:part name="parameters" element="tns:SelectKhachHangResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceKhachHang_InsertKhachHang_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertKhachHang" />
  </wsdl:message>
  <wsdl:message name="IServiceKhachHang_InsertKhachHang_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertKhachHangResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceKhachHang_UpdateKhachHang_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateKhachHang" />
  </wsdl:message>
  <wsdl:message name="IServiceKhachHang_UpdateKhachHang_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateKhachHangResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceKhachHang_DeleteKhachHang_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteKhachHang" />
  </wsdl:message>
  <wsdl:message name="IServiceKhachHang_DeleteKhachHang_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteKhachHangResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceKhachHang_Login_InputMessage">
    <wsdl:part name="parameters" element="tns:Login" />
  </wsdl:message>
  <wsdl:message name="IServiceKhachHang_Login_OutputMessage">
    <wsdl:part name="parameters" element="tns:LoginResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceKhachHang_CheckUsername_InputMessage">
    <wsdl:part name="parameters" element="tns:CheckUsername" />
  </wsdl:message>
  <wsdl:message name="IServiceKhachHang_CheckUsername_OutputMessage">
    <wsdl:part name="parameters" element="tns:CheckUsernameResponse" />
  </wsdl:message>
  <wsdl:portType name="IServiceKhachHang">
    <wsdl:operation name="SelectKhachHang">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceKhachHang/SelectKhachHang" message="tns:IServiceKhachHang_SelectKhachHang_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceKhachHang/SelectKhachHangResponse" message="tns:IServiceKhachHang_SelectKhachHang_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InsertKhachHang">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceKhachHang/InsertKhachHang" message="tns:IServiceKhachHang_InsertKhachHang_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceKhachHang/InsertKhachHangResponse" message="tns:IServiceKhachHang_InsertKhachHang_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateKhachHang">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceKhachHang/UpdateKhachHang" message="tns:IServiceKhachHang_UpdateKhachHang_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceKhachHang/UpdateKhachHangResponse" message="tns:IServiceKhachHang_UpdateKhachHang_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteKhachHang">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceKhachHang/DeleteKhachHang" message="tns:IServiceKhachHang_DeleteKhachHang_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceKhachHang/DeleteKhachHangResponse" message="tns:IServiceKhachHang_DeleteKhachHang_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Login">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceKhachHang/Login" message="tns:IServiceKhachHang_Login_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceKhachHang/LoginResponse" message="tns:IServiceKhachHang_Login_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CheckUsername">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceKhachHang/CheckUsername" message="tns:IServiceKhachHang_CheckUsername_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceKhachHang/CheckUsernameResponse" message="tns:IServiceKhachHang_CheckUsername_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IServiceKhachHang" type="tns:IServiceKhachHang">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SelectKhachHang">
      <soap:operation soapAction="http://tempuri.org/IServiceKhachHang/SelectKhachHang" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertKhachHang">
      <soap:operation soapAction="http://tempuri.org/IServiceKhachHang/InsertKhachHang" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateKhachHang">
      <soap:operation soapAction="http://tempuri.org/IServiceKhachHang/UpdateKhachHang" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteKhachHang">
      <soap:operation soapAction="http://tempuri.org/IServiceKhachHang/DeleteKhachHang" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Login">
      <soap:operation soapAction="http://tempuri.org/IServiceKhachHang/Login" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CheckUsername">
      <soap:operation soapAction="http://tempuri.org/IServiceKhachHang/CheckUsername" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServiceKhachHang">
    <wsdl:port name="BasicHttpBinding_IServiceKhachHang" binding="tns:BasicHttpBinding_IServiceKhachHang">
      <soap:address location="http://localhost:3015/ServiceKhachHang.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>