MobilePhoneWeb/MobileDesktop/Service References/ServiceNhanVien/ServiceNhanVien.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ServiceNhanVien" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:3015/ServiceNhanVien.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:3015/ServiceNhanVien.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:3015/ServiceNhanVien.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WcfMobile" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IServiceNhanVien_SelectNhanVien_InputMessage">
    <wsdl:part name="parameters" element="tns:SelectNhanVien" />
  </wsdl:message>
  <wsdl:message name="IServiceNhanVien_SelectNhanVien_OutputMessage">
    <wsdl:part name="parameters" element="tns:SelectNhanVienResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceNhanVien_InsertNhanVien_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertNhanVien" />
  </wsdl:message>
  <wsdl:message name="IServiceNhanVien_InsertNhanVien_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertNhanVienResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceNhanVien_UpdateNhanVien_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateNhanVien" />
  </wsdl:message>
  <wsdl:message name="IServiceNhanVien_UpdateNhanVien_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateNhanVienResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceNhanVien_DeleteNhanVien_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteNhanVien" />
  </wsdl:message>
  <wsdl:message name="IServiceNhanVien_DeleteNhanVien_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteNhanVienResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceNhanVien_Login_InputMessage">
    <wsdl:part name="parameters" element="tns:Login" />
  </wsdl:message>
  <wsdl:message name="IServiceNhanVien_Login_OutputMessage">
    <wsdl:part name="parameters" element="tns:LoginResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceNhanVien_SelectIdByUsername_InputMessage">
    <wsdl:part name="parameters" element="tns:SelectIdByUsername" />
  </wsdl:message>
  <wsdl:message name="IServiceNhanVien_SelectIdByUsername_OutputMessage">
    <wsdl:part name="parameters" element="tns:SelectIdByUsernameResponse" />
  </wsdl:message>
  <wsdl:portType name="IServiceNhanVien">
    <wsdl:operation name="SelectNhanVien">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceNhanVien/SelectNhanVien" message="tns:IServiceNhanVien_SelectNhanVien_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceNhanVien/SelectNhanVienResponse" message="tns:IServiceNhanVien_SelectNhanVien_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InsertNhanVien">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceNhanVien/InsertNhanVien" message="tns:IServiceNhanVien_InsertNhanVien_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceNhanVien/InsertNhanVienResponse" message="tns:IServiceNhanVien_InsertNhanVien_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateNhanVien">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceNhanVien/UpdateNhanVien" message="tns:IServiceNhanVien_UpdateNhanVien_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceNhanVien/UpdateNhanVienResponse" message="tns:IServiceNhanVien_UpdateNhanVien_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteNhanVien">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceNhanVien/DeleteNhanVien" message="tns:IServiceNhanVien_DeleteNhanVien_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceNhanVien/DeleteNhanVienResponse" message="tns:IServiceNhanVien_DeleteNhanVien_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Login">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceNhanVien/Login" message="tns:IServiceNhanVien_Login_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceNhanVien/LoginResponse" message="tns:IServiceNhanVien_Login_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SelectIdByUsername">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceNhanVien/SelectIdByUsername" message="tns:IServiceNhanVien_SelectIdByUsername_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceNhanVien/SelectIdByUsernameResponse" message="tns:IServiceNhanVien_SelectIdByUsername_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IServiceNhanVien" type="tns:IServiceNhanVien">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SelectNhanVien">
      <soap:operation soapAction="http://tempuri.org/IServiceNhanVien/SelectNhanVien" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertNhanVien">
      <soap:operation soapAction="http://tempuri.org/IServiceNhanVien/InsertNhanVien" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateNhanVien">
      <soap:operation soapAction="http://tempuri.org/IServiceNhanVien/UpdateNhanVien" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteNhanVien">
      <soap:operation soapAction="http://tempuri.org/IServiceNhanVien/DeleteNhanVien" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Login">
      <soap:operation soapAction="http://tempuri.org/IServiceNhanVien/Login" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SelectIdByUsername">
      <soap:operation soapAction="http://tempuri.org/IServiceNhanVien/SelectIdByUsername" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServiceNhanVien">
    <wsdl:port name="BasicHttpBinding_IServiceNhanVien" binding="tns:BasicHttpBinding_IServiceNhanVien">
      <soap:address location="http://localhost:3015/ServiceNhanVien.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>