MobilePhoneWeb/MobileDesktop/Service References/ServiceQuyenNhanVien/ServiceQuyenNhanVien.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:3015/ServiceQuyenNhanVien.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WcfMobile" />
  <xs:element name="SelectQuyenNhanVien">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectQuyenNhanVienResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WcfMobile" minOccurs="0" name="SelectQuyenNhanVienResult" nillable="true" type="q1:ArrayOfQuyenNhanVien" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertQuyenNhanVien">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/WcfMobile" minOccurs="0" name="info" nillable="true" type="q2:QuyenNhanVien" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertQuyenNhanVienResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InsertQuyenNhanVienResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateQuyenNhanVien">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/WcfMobile" minOccurs="0" name="info" nillable="true" type="q3:QuyenNhanVien" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateQuyenNhanVienResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateQuyenNhanVienResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteQuyenNhanVien">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/WcfMobile" minOccurs="0" name="info" nillable="true" type="q4:QuyenNhanVien" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteQuyenNhanVienResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteQuyenNhanVienResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>