MobilePhoneWeb/MobileDesktop/Service References/ServiceQuyenNhanVien/ServiceQuyenNhanVien.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ServiceQuyenNhanVien" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:3015/ServiceQuyenNhanVien.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:3015/ServiceQuyenNhanVien.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:3015/ServiceQuyenNhanVien.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WcfMobile" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IServiceQuyenNhanVien_SelectQuyenNhanVien_InputMessage">
    <wsdl:part name="parameters" element="tns:SelectQuyenNhanVien" />
  </wsdl:message>
  <wsdl:message name="IServiceQuyenNhanVien_SelectQuyenNhanVien_OutputMessage">
    <wsdl:part name="parameters" element="tns:SelectQuyenNhanVienResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceQuyenNhanVien_InsertQuyenNhanVien_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertQuyenNhanVien" />
  </wsdl:message>
  <wsdl:message name="IServiceQuyenNhanVien_InsertQuyenNhanVien_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertQuyenNhanVienResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceQuyenNhanVien_UpdateQuyenNhanVien_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateQuyenNhanVien" />
  </wsdl:message>
  <wsdl:message name="IServiceQuyenNhanVien_UpdateQuyenNhanVien_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateQuyenNhanVienResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceQuyenNhanVien_DeleteQuyenNhanVien_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteQuyenNhanVien" />
  </wsdl:message>
  <wsdl:message name="IServiceQuyenNhanVien_DeleteQuyenNhanVien_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteQuyenNhanVienResponse" />
  </wsdl:message>
  <wsdl:portType name="IServiceQuyenNhanVien">
    <wsdl:operation name="SelectQuyenNhanVien">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceQuyenNhanVien/SelectQuyenNhanVien" message="tns:IServiceQuyenNhanVien_SelectQuyenNhanVien_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceQuyenNhanVien/SelectQuyenNhanVienResponse" message="tns:IServiceQuyenNhanVien_SelectQuyenNhanVien_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InsertQuyenNhanVien">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceQuyenNhanVien/InsertQuyenNhanVien" message="tns:IServiceQuyenNhanVien_InsertQuyenNhanVien_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceQuyenNhanVien/InsertQuyenNhanVienResponse" message="tns:IServiceQuyenNhanVien_InsertQuyenNhanVien_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateQuyenNhanVien">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceQuyenNhanVien/UpdateQuyenNhanVien" message="tns:IServiceQuyenNhanVien_UpdateQuyenNhanVien_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceQuyenNhanVien/UpdateQuyenNhanVienResponse" message="tns:IServiceQuyenNhanVien_UpdateQuyenNhanVien_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteQuyenNhanVien">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceQuyenNhanVien/DeleteQuyenNhanVien" message="tns:IServiceQuyenNhanVien_DeleteQuyenNhanVien_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceQuyenNhanVien/DeleteQuyenNhanVienResponse" message="tns:IServiceQuyenNhanVien_DeleteQuyenNhanVien_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IServiceQuyenNhanVien" type="tns:IServiceQuyenNhanVien">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SelectQuyenNhanVien">
      <soap:operation soapAction="http://tempuri.org/IServiceQuyenNhanVien/SelectQuyenNhanVien" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertQuyenNhanVien">
      <soap:operation soapAction="http://tempuri.org/IServiceQuyenNhanVien/InsertQuyenNhanVien" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateQuyenNhanVien">
      <soap:operation soapAction="http://tempuri.org/IServiceQuyenNhanVien/UpdateQuyenNhanVien" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteQuyenNhanVien">
      <soap:operation soapAction="http://tempuri.org/IServiceQuyenNhanVien/DeleteQuyenNhanVien" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServiceQuyenNhanVien">
    <wsdl:port name="BasicHttpBinding_IServiceQuyenNhanVien" binding="tns:BasicHttpBinding_IServiceQuyenNhanVien">
      <soap:address location="http://localhost:3015/ServiceQuyenNhanVien.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>