MobilePhoneWeb/MobileDesktop/Service References/ServiceNhaPhanPhoi/ServiceNhaPhanPhoi.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ServiceNhaPhanPhoi" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:3015/ServiceNhaPhanPhoi.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:3015/ServiceNhaPhanPhoi.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:3015/ServiceNhaPhanPhoi.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WcfMobile" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IServiceNhaPhanPhoi_SelectNhaPhanPhoi_InputMessage">
    <wsdl:part name="parameters" element="tns:SelectNhaPhanPhoi" />
  </wsdl:message>
  <wsdl:message name="IServiceNhaPhanPhoi_SelectNhaPhanPhoi_OutputMessage">
    <wsdl:part name="parameters" element="tns:SelectNhaPhanPhoiResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceNhaPhanPhoi_InsertNhaPhanPhoi_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertNhaPhanPhoi" />
  </wsdl:message>
  <wsdl:message name="IServiceNhaPhanPhoi_InsertNhaPhanPhoi_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertNhaPhanPhoiResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceNhaPhanPhoi_UpdateNhaPhanPhoi_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateNhaPhanPhoi" />
  </wsdl:message>
  <wsdl:message name="IServiceNhaPhanPhoi_UpdateNhaPhanPhoi_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateNhaPhanPhoiResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceNhaPhanPhoi_DeleteNhaPhanPhoi_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteNhaPhanPhoi" />
  </wsdl:message>
  <wsdl:message name="IServiceNhaPhanPhoi_DeleteNhaPhanPhoi_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteNhaPhanPhoiResponse" />
  </wsdl:message>
  <wsdl:portType name="IServiceNhaPhanPhoi">
    <wsdl:operation name="SelectNhaPhanPhoi">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceNhaPhanPhoi/SelectNhaPhanPhoi" message="tns:IServiceNhaPhanPhoi_SelectNhaPhanPhoi_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceNhaPhanPhoi/SelectNhaPhanPhoiResponse" message="tns:IServiceNhaPhanPhoi_SelectNhaPhanPhoi_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InsertNhaPhanPhoi">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceNhaPhanPhoi/InsertNhaPhanPhoi" message="tns:IServiceNhaPhanPhoi_InsertNhaPhanPhoi_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceNhaPhanPhoi/InsertNhaPhanPhoiResponse" message="tns:IServiceNhaPhanPhoi_InsertNhaPhanPhoi_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateNhaPhanPhoi">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceNhaPhanPhoi/UpdateNhaPhanPhoi" message="tns:IServiceNhaPhanPhoi_UpdateNhaPhanPhoi_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceNhaPhanPhoi/UpdateNhaPhanPhoiResponse" message="tns:IServiceNhaPhanPhoi_UpdateNhaPhanPhoi_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteNhaPhanPhoi">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceNhaPhanPhoi/DeleteNhaPhanPhoi" message="tns:IServiceNhaPhanPhoi_DeleteNhaPhanPhoi_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceNhaPhanPhoi/DeleteNhaPhanPhoiResponse" message="tns:IServiceNhaPhanPhoi_DeleteNhaPhanPhoi_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IServiceNhaPhanPhoi" type="tns:IServiceNhaPhanPhoi">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SelectNhaPhanPhoi">
      <soap:operation soapAction="http://tempuri.org/IServiceNhaPhanPhoi/SelectNhaPhanPhoi" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertNhaPhanPhoi">
      <soap:operation soapAction="http://tempuri.org/IServiceNhaPhanPhoi/InsertNhaPhanPhoi" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateNhaPhanPhoi">
      <soap:operation soapAction="http://tempuri.org/IServiceNhaPhanPhoi/UpdateNhaPhanPhoi" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteNhaPhanPhoi">
      <soap:operation soapAction="http://tempuri.org/IServiceNhaPhanPhoi/DeleteNhaPhanPhoi" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServiceNhaPhanPhoi">
    <wsdl:port name="BasicHttpBinding_IServiceNhaPhanPhoi" binding="tns:BasicHttpBinding_IServiceNhaPhanPhoi">
      <soap:address location="http://localhost:3015/ServiceNhaPhanPhoi.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>