MobilePhoneWeb/MobilePhoneWeb/Service References/ServiceKhachHang/ServiceKhachHang.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:3015/ServiceKhachHang.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WcfMobile" />
  <xs:element name="SelectKhachHang">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectKhachHangResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WcfMobile" minOccurs="0" name="SelectKhachHangResult" nillable="true" type="q1:ArrayOfKhachHang" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertKhachHang">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/WcfMobile" minOccurs="0" name="info" nillable="true" type="q2:KhachHang" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertKhachHangResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InsertKhachHangResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateKhachHang">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/WcfMobile" minOccurs="0" name="info" nillable="true" type="q3:KhachHang" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateKhachHangResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateKhachHangResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteKhachHang">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/WcfMobile" minOccurs="0" name="info" nillable="true" type="q4:KhachHang" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteKhachHangResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteKhachHangResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Login">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoginResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="LoginResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckUsername">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckUsernameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CheckUsernameResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>